<div>
  <mat-toolbar *ngIf="currentFile" class="progress-bar">
    <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
    <span class="progress">{{ progress }}%</span>
  </mat-toolbar>

  <mat-form-field appearance="fill">
    <div>
      <mat-toolbar>
        <input matInput [value]="fileName" />

        <button mat-flat-button
                color="primary"
                [disabled]="!currentFile"
                (click)="upload()">
          Upload
        </button>
      </mat-toolbar>

      <input type="file"
             id="fileInput"
             (change)="selectFile($event)"
             name="fileInput" />
    </div>
  </mat-form-field>
</div>

<div *ngIf="message" class="message">
  {{ message }}
</div>
