<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span><h1>{{title}}</h1></span>
  <span class="example-spacer"></span>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLinkActive="active" routerLink="/userlist">User List (Admin)</button>
    <button mat-menu-item routerLinkActive="active" routerLink="/dashboard">User Page</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
