table {
  width: 100%;
  margin: auto;
}


.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.user-table-is-clicked {
  font-weight: bold;
  background-color:lightgray;
}


.mat-fab{
    float:right;
    margin:1rem;
}


mat-spinner {
  margin: auto;
}
